html{
    scroll-behavior: smooth;
}

body{
    max-width: 1920px;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    border-right: solid 0.1rem black;
    background-color: white;
}
 
.grid{
    display: grid;
}

#screenshots.grid{
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    width: 100%;
    padding: 0 0 2rem 2rem;
}

#screenshots.grid img{
    max-width: 40vw;
    height: 100vh;
    border: solid 0.3rem  smooth;
    border-radius: 1rem;
}


.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

#navbar{
    float: left;
    width: 15%;
    text-align: center;
    height: 100vh;
    font-size: 1.5rem;
    background-color: black;
    border-right: solid 0.2rem lightskyblue;
    position: fixed;
    
}


#navbar a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#navbar a,
.normalRow a{
    text-decoration: none;
    font-weight: bold;
}


#home h1,
#navbar h2,
#monsters h2,
a#home,
a#monsters,
a#weapons,
#content h2{
    color: lightskyblue;
}

a#home,
a#monsters,
a#weapons{
    border-bottom: solid 0.2rem lightskyblue;
}



#navbar ul {
    list-style: none;
    list-style-position: inside;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-evenly;
    margin-bottom: 3rem;
}

#navbar .divider,
#monsters .divider{
    border-bottom: solid 0.1rem lightskyblue;
}


#content{
    width: 85%;
    margin-left: auto;
    color: black;
    text-align: center;
}



#content .divider{
    border-bottom: solid 0.2rem lightskyblue;
}

section#home,
section#monsters,
section#weapons,
text.notResults {
    font-size: 2rem;
}

section#home p,
section#monsters p {
    font-size: 1.5rem;
    padding: 0 2rem 0 2rem;
}

section#home img {
    max-height: 600px;
    margin-top: 2rem;
}

#table-monsters,
#table-weapons{
    text-align: center;
    padding: 0 0 2rem 2rem;
}

#table-monsters th,
#table-weapons th {
    border: solid 0.2rem black;
    background-color: lightskyblue;

    
}

#table-monsters td,
#table-weapons td {
    padding: 1.5rem;
}

.normalRow td{
    border: solid 0.1rem black;
}

.normalRow a{
    color: black;
    transition: 0.3s;
}

.normalRow:hover{
    background-color: wheat;
    transition: 0.2s;
}

.normalRow a:hover,
#navbar a:hover{
    color: lightskyblue;
    transition: 0.3s;
}

text.notResults{
    color: black;
    font-weight: bolder;
}


#Name,
#Type,
#Species,
#searchButton {
    cursor:pointer;
}

#Name:hover,
#Type:hover,
#Species:hover{
    color: white;
    transition: 0.2s;
}

#table-weapons,
#table-monsters {
    width: 83vw;
}

#weaponSearchDiv{
    margin: 0 2rem 0 2rem;
}

#weaponSearchbar{
    width: 80vw;
    height: 2rem;
    font-size: 1.4rem;
    font-weight: bolder;
    border-radius: 2rem;
    padding: 0.5rem 0 0.5rem 1rem;
    text-transform:uppercase;
    margin: 1rem 0.5rem 1rem 0;

}

#searchButton,
#weaponSearchbar {
    font-size: 1.4rem;
    font-weight: bolder;
    border-radius: 2rem;
    padding: 0.5rem 0 0.5rem 1rem;
    text-transform:uppercase;
    margin-top: 1rem;
}

button#searchButton {
    background-color: lightskyblue;
    padding: 0.5rem;
    height: fit-content;
    width: fit-content;
    transition: 0.3s;
}

button#searchButton:hover{
    color: white;
    transition: 0.3s;
}

/* Media Queries */

@media (max-width: 2560px){
    body{
        max-width: 2560px;
    }

}



@media (max-width: 1366px){
    body{
        max-width: 1366px;
    }

    #navbar h2 {
        font-size: 1.8rem;
    }
}

@media (max-width: 1024px){
    body{
        max-width: 1024px;
    }

    #navbar h2 {
        font-size: 1.5rem;
    }
}